.carta {
    margin: 5px;
    padding: 20px;
}

.carta:hover {
    border: 1px solid black;
    box-shadow: 10px 10px 0px -1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 10px 10px 0px -1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 10px 10px 0px -1px rgba(0, 0, 0, 0.05);
}